{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}
<main>
    {{#with navigation}}
    <div class="col-12">
        <ul class="nav justify-content">
            {{#each links}}
            <li class="nav-item mt-2">
                <a href="{{href}}" {{#unless @last}} class="nav-link" {{else}} class="nav-link disabled" {{/unless}}>
                    {{text}}
                </a>
            </li>
            {{/each}}
        </ul>
    </div>
    {{/with}}
    <br>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {{#each breadcrumb}}

            <li class="breadcrumb-item">
                <a href="{{url}}">{{name}}</a>
            </li>
            {{/each}}
        </ol>
    </nav>

    <h1>{{header}}</h1>


    <table class="table table-bordered">
        <tr>
            {{#each sortBlock}}
            <td>
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{placeholder}}
                    </button>
                    <ul class="dropdown-menu">
                        {{#each options}}
                        <li><a class="dropdown-item" href="value">{{text}}</a></li>
                        {{/each}}
                    </ul>
                </div>
            </td>
            {{/each}}
        </tr>
    </table>


    <div class="row">
        <div class="col-4">

            {{#with filterBlock}}

            {{#with sellers}}
            {{title}}
            {{#each list}}

            <div class="form-check">
                {{value}}
                <input class="form-check-input" type="checkbox" value="{{value}}">

            </div>

            {{/each}}
            {{/with}}
            <hr>

            {{#with brands}}
            {{title}}
            <input placeholder="{{placeholder}}">
            {{#each options}}

            <div class="form-check">
                {{value}}
                <input class="form-check-input" type="checkbox" value="{{value}}">
            </div>

            {{/each}}
            {{/with}}

            <hr>

            {{#with price}}
            {{title}}
            <br>
            <input value="{{range.from}}">
            <br><br>
            <input value="{{range.to}}">
            <br><br>
            {{#with button}}
            <a class="btn btn-outline-secondary" href="{{link}}" role="button">{{text}}</a>
            {{/with}}
            <hr>
            {{/with}}



            {{#each filterList}}
            {{title}}

            {{#each options}}
            <div class="form-check">
                {{value}}
                <input class="form-check-input" type="checkbox" value="{{value}}">
            </div>
            {{/each}}
            <hr>
            {{/each}}

            {{/with}}
        </div>



        <div class="col-8">
            <div class="row">
                {{#each goodsList}}
                <div class=" col-6">
                    <img src='{{img}}' class="img-responsive" alt="goods">

                    {{#if isHot}}
                    <span class="bg text text-bg-warning badge rounded-pill">HOT!</span>
                    {{/if}}

                    {{#if isNew}}
                    <span class="bg text text-bg-info badge rounded-pill">Нове</span>
                    {{/if}}
                    <br>

                    {{#if isFast}}
                    <span class="bg text text-bg-success badge rounded-pill">Швидка доставка</span>
                    {{/if}}
                    <br>
                    {{#if isFree}}
                    <span class="bg text text-bg-secondary badge rounded-pill">Швидка доставка</span>
                    {{/if}}
                    <br>
                    {{name}}
                    <br>

                    {{#with review}}
                    {{amount}}{{text}}
                    {{/with}}

                    <br>
                    {{price}}
                    <br>
                    {{delivery}}

                    <br>
                    {{#each buttons}}
                    {{#if isPrimary}}
                    <a class="btn btn-primary" href="{{link}}" role="button">{{text}}</a>
                    <br><br>
                    {{/if}}
                    {{#if isSecondary}}
                    <a class="btn btn-secondary" href="{{link}}" role="button">{{text}}</a>
                    <br>
                    {{/if}}
                    {{/each}}

                    <br>
                    <ul>
                        {{#each characteristics}}
                        <li>
                            {{title}}: {{value}}
                        </li>
                        {{/each}}
                    </ul>
                </div>
                {{/each}}
            </div>
        </div>

    </div>
    {{#with service}}
    <div class="card">
        <div class="card-body text-bg-success">
            <div class="col-12">
                <h2 class="text-center">{{title}}</h2>
                <p class="text-center">{{description}}</p>
                {{#each buttons}}
                <div class="d-grid gap-2 col-3 mx-auto">
                    <a class="btn btn-primary" href="{{link}}" role="button">{{text}}</a>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    {{/with}}
    <br>

    <hr class"my-5">
    <footer>
        <div class="row g-5">
            {{#each footer}}
            <div class="nav col-2">
                <div>
                    {{#each this}}
                    <div>
                        <a class="nav nav-link{{#if @last}} disabled {{/if}}" href="{{this.link}}">{{this.text}}</a>
                    </div>
                    {{/each}}
                </div>
            </div>
            {{/each}}
        </div>
    </footer>



</main>