{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}
<main>

    {{#with navigation}}
    <div class="card mb-5">
        <div class="row">
            <div class="col-4">
                <div class="display-6 ms-2 mb-2">
                    {{Logo}}
                </div>
            </div>

            <div class="col-8">
                <ul class="nav justify-content-end">
                    {{#each links}}
                    <li class="nav-item mt-2">
                        <a href="{{href}}" {{#unless @last}} class="nav-link" {{else}} class="nav-link disabled"
                            {{/unless}}>
                            {{text}}
                        </a>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    {{/with}}

    <div class="row">
        <p class="h1">{{header}}</p>
        {{#with contacts_data}}
        <h2>{{title}}</h2>
        {{/with}}
    </div>

    <div class="row">
        <div class="col-8">

            {{#with contacts_data}}
            <div class="row">
                <ul class="nav nav-item">
                    {{#each buttons}}
                    {{#if isPrimary}}
                    <li class="nav-link ">
                        <input class="btn btn-warning btn-sm" value="{{text}}">
                    </li>
                    {{/if}}
                    {{#if isOutline}}
                    <li class="nav-link ">
                        <input class="btn btn-outline-warning btn-sm" value="{{text}}">
                    </li>
                    {{/if}}
                    {{/each}}
                </ul>

            </div>
            {{/with}}



            <br>

            <div class="row ">
                {{#with contacts_data.form.input}}
                {{#with surname}}
                <div class="col-5 p-2">
                    <label for="inputLabel" class="form-label">{{label}}</label>
                    <input type="text" class="form-control" placeholder="{{placeholder}}" aria-label="First name">
                    <div id="Help" class="form-text">{{caption}}</div>
                </div>
                {{/with}}
                {{#with name}}
                <div class="col-5 p-2">
                    <label for="inputLabel" class="form-label">{{label}}</label>
                    <input type="text" class="form-control" placeholder="{{placeholder}}" aria-label="Last name">
                    <div id="Help" class="form-text">{{caption}}</div>
                </div>
                {{/with}}
            </div>

            <div class="row">
                {{#with phone}}
                <div class="col-5 p-2">
                    <label for="inputLabel" class="form-label">{{label}}</label>
                    <input type="text" class="form-control" placeholder="{{placeholder}}" aria-label="Phone">
                    <div id="Help" class="form-text">{{caption}}</div>
                </div>
                {{/with}}

                {{#with email}}
                <div class="col-5 p-2">
                    <label for="inputLabel" class="form-label">{{label}}</label>
                    <input type="text" class="form-control" placeholder="{{placeholder}}" aria-label="E-mail">
                    <div id="Help" class="form-text">{{caption}}</div>
                </div>
                {{/with}}
                <hr>
                {{/with}}

                {{#with contacts_data.form}}
                {{#each switch}}
                {{#if isActive}}
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault " checked>
                    <label class="form-check-label" for="flexSwitchCheckDefault">{{text}}</label>
                </div>
                {{else}}
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked">
                    <label class="form-check-label" for="flexSwitchCheckChecked">{{text}}</label>
                </div>
                {{/if}}
                {{/each}}
                {{/with}}
            </div>
            <hr>

            <h3>{{delivery.title}}</h3>
            <section>
                <div class="card mt-3">
                    <div class="card-body row">
                        {{#each delivery.select}}
                        <div class="col-6">
                            <label class="form-label">{{label}}</label>
                            <select class="form-select">
                                <option select>{{placeholder}}</option>
                                {{#each options}}
                                <option {{value}}>{{text}}</option>
                                {{/each}}
                            </select>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </section>
            <section>
                <div class="border-white my-3">
                    {{#each delivery.delivery_type}}
                    <div class="form-check">
                        <label class="form-check-label">{{type}}</label>
                        <input class="form-check-input" name="type" type="radio">
                    </div>
                    {{/each}}
                </div>
            </section>
            <hr>
            <h3>{{delivery.payment.title}}</h3>
            <section>
                <div class="border-white my-3">
                    {{#each delivery.payment.list}}
                    <div class="form-check">
                        <label class="form-check-label "><span class="fw-medium">{{type}} </span>
                            {{#if description}} <p class="fst-italic">{{description}}</p> {{/if}}</label>

                        <input class="form-check-input" name="type" type="radio">
                    </div>
                    {{/each}}
                </div>
            </section>
            <hr>
            {{#with delivery.contact}}
            <h3>{{title}}</h3>
            <br>
            <div class="row">
                {{#with surname}}
                <div class="col-5 p-2">
                    <label for="inputLabel" class="form-label">{{label}}</label>
                    <input type="text" class="form-control" placeholder="{{placeholder}}" aria-label="First name">
                    <div id="Help" class="form-text">{{caption}}</div>
                </div>
                {{/with}}
                {{#with name}}
                <div class="col-5 p-2">
                    <label for="inputLabel" class="form-label">{{label}}</label>
                    <input type="text" class="form-control" placeholder="{{placeholder}}" aria-label="Last name">
                    <div id="Help" class="form-text">{{caption}}</div>
                </div>
                {{/with}}
            </div>

            <div class="row">
                {{#with phone}}
                <div class="col-5 p-2">
                    <label for="inputLabel" class="form-label">{{label}}</label>
                    <input type="text" class="form-control" placeholder="{{placeholder}}" aria-label="Phone">
                    <div id="Help" class="form-text">{{caption}}</div>
                </div>
                {{/with}}

                {{#with email}}
                <div class="col-5 p-2">
                    <label for="inputLabel" class="form-label">{{label}}</label>
                    <input type="text" class="form-control" placeholder="{{placeholder}}" aria-label="E-mail">
                    <div id="Help" class="form-text">{{caption}}</div>
                </div>
                {{/with}}
                {{/with}}
            </div>
            <hr>

            <div class="row pb-3">
                <div class="col-8">
                    {{#with delivery.coment}}
                    <label for="inputLabel" class="form-label">{{label}}</label>
                    <input class="form-control" type="text" value="{{placeholder}}">
                    <div id="Help" class="form-text">Введіть коментар</div>
                    {{/with}}
                </div>

            </div>
            <hr>
            <div class="row">
                {{#with coupon}}
                <div class="row pb-1">
                    <h3>{{title}}</h3>
                    {{#with select.availabel_coupon}}
                    <h6>{{label}}</h6>
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                        <option selected> {{placeholder}}</option>
                        {{#each options}}
                        <option value="{{value}}">{{text}}</option>
                        {{/each}}
                    </select>
                    {{/with}}
                </div>
                <br>
                <div class="row py-1">
                    {{#with select.friend_coupon}}
                    <h6>{{label}}</h6>
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                        <option selected> {{placeholder}}</option>
                        {{#each options}}
                        <option value="{{value}}">{{text}}</option>
                        {{/each}}
                    </select>
                    {{/with}}
                </div>

                <div class="row py-1">
                    {{#with add.friend}}
                    <label for="inputLabel" class="form-label fw-medium">{{label}}</label>
                    <input class="form-control" type="text" value="{{placeholder}}">
                    <div id="Help" class="form-text">{{caption}}</div>
                    {{/with}}
                </div>

                <div class="row py-1">
                    {{#with add.colleague}}
                    <label for="inputLabel" class="form-label fw-medium">{{label}}</label>
                    <input class="form-control" type="text" value="{{placeholder}}">
                    <div id="Help" class="form-text">{{caption}}</div>
                    {{/with}}
                </div>

                {{/with}}
            </div>
            <br>
            <hr>

            <div class="row py-2">
                {{#with quiz}}
                <h3>{{title}}</h3>
                {{#with preference}}
                <h6>{{title}}</h6>
                {{#each options}}
                <div class="form-check">
                    <input class="form-check-input" name="type" type="radio">
                    <label class="form-check-label">{{this}}</label>
                </div>
                {{/each}}
                {{/with}}
                <div class="row ">
                    <div class="col-8">

                        <h6>{{your_expirience.label}}</h6>
                        <input class="form-control" type="text">
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        {{#with purchase_frequency}}
                        <h6>{{label}}</h6>
                        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                            <option selected>{{placeholder}}</option>
                            {{#each options}}
                            <option value="{{value}}">{{text}}</option>
                            {{/each}}
                        </select>
                        {{/with}}
                        {{/with}}


                    </div>

                </div>
            </div>



            <div class="row py-2">
                {{#with quiz.factors}}
                <h6>{{title}}</h6>
                {{#each options}}
                <div class="form-check">
                    <input class="form-check-input" name="type" type="checkbox">
                    <label class="form-check-label">{{this}}</label>
                </div>
                {{/each}}
                {{/with}}
            </div>
        </div>



        <div class="col-4">

            <div class="row">

                <div class="card">
                    {{#each action_block}}
                    <ol class="nav nav-item">
                        {{#if isSuccess}}
                        <li class="nav-link"> <input class="btn btn-success" type="Швидке замовлення" value="{{text}}">
                        </li> {{/if}}
                        {{#if isDanger}}
                        <li class="nav-link"> <input class="btn btn-danger" type="Видалити" value="{{text}}">
                        </li>{{/if}}
                        {{#if isInfo}}
                        <li class="nav-link"> <input class="btn btn-info" type="Детальніше" value="{{text}}">
                        </li>{{/if}}
                    </ol>
                    {{/each}}
                </div>

            </div>
            <div class="row">
                {{#with total}}
                <div class="card">
                    <p class="display-6 fw-medium">{{title}}:</p>

                    {{#each item_list}}
                    <div class="row">
                        <p class="fs-5">{{name}} : <b>{{price}}</b></p>

                    </div>
                    {{/each}}
                    <hr>

                    {{#each additional_info}}
                    <div class="row">
                        <p class="fs-5">{{text}} : <b>{{value}}</b></p>
                    </div>
                    {{/each}}
                    <hr>
                    {{#with total_price}}
                    <div class="row">
                        <p class="fs-5">{{text}} : <b>{{value}}</b></p>
                    </div>
                    {{/with}}

                    <hr>
                    {{#each button}}
                    <ol class="nav nav-item">
                        {{#if isPrimary}}
                        <li class="nav-link"> <input class="btn btn-primary" type="Швидке замовлення" value="{{text}}">
                        </li>
                        {{/if}}
                        {{#if isOutline}}
                        <li class="nav-link"> <input class="btn btn-outline-primary" type="Видалити" value="{{text}}">
                        </li>
                        {{/if}}

                    </ol>
                    {{/each}}
                </div>
                {{/with}}
            </div>

        </div>

    </div>
</main>





{{!-- Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs Адже наш layout/default.hbs
має
вже структуру HTML--}}