{{#each itemList}}
<div class="row border-bottom p-3">

    <div class="col-6 row p-3">

        <div class="col-8 p-3">
            <p class="fs-5">{{number}}</p>
            <p class="fs-3">{{status}}</p>
        </div>

        <div class="col-4 p-3">
            {{#with amount}}
            <p class="fs-4 fw-medium">{{title}}</p>
            <p>{{value}}</p>
            {{/with}}
        </div>
    </div>

    <div class="col-4 row p-3">

        <div class="col-8 row p-3">
            {{#each images}}
            <div class="col-4 p-3">
                <img src="{{this}}">
            </div>
            {{/each}}
        </div>
    </div>